@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");
@import url("common/grid.css");
@import url("component/button.css");
@import url("component/combobox.css");
@import url("component/input.css");
@import url("component/table.css");
@import url("component/nagivation.css");
@import url("component/dropdown.css");
@import url("component/chip-status.css");
@import url("component/toast.css");

@import url("common/common.css");
@import url("common/style.css");

body {
  font-family: GoogleSans;
  font-size: 12px;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: GoogleSans;
  src: url("../content/font/GoogleSans-Regular.otf");
}
@font-face {
  font-family: GoogleSans-Bold;
  src: url("../content/font/GoogleSans-Bold.otf");
}
@font-face {
  font-family: GoogleSans-Italic;
  src: url("../content/font/GoogleSans-Italic.otf");
}