.m-btn {
  background-color: #019160;
  border-radius: 4px;
  height: 40px;
  min-width: 100px;
  color: #ffffff;
  padding: 0 24px;
  text-align: center;
  font-weight: normal;
  outline: unset;
  cursor: pointer;
  border: none;
}

.m-btn:hover {
  background-color: #2fbe8e;
}

.m-btn.m-btn-icon {
  padding: 0 16px;
}

.m-btn.m-btn-icon .icon {
  margin-right: 8px;
  height: 16px;
  width: 16px;
  vertical-align: middle;
}

.m-btn.m-second-btn {
  min-width: 40px;
  background-color: #fff;
  color: #000000;
  border: 1px #e9ebee solid;
}

.m-second-btn:hover {
  background-color: #e9ebee;
}

.m-btn-icon-2 button{
  border-radius: 0;
  float: left;
}
.m-btn .m-btn-link{
  
  text-decoration: none;
  color: #FFF;
}

.m-btn:active,
.m-btn-icon:active,
.m-second-btn:active {
  background-color: #01b075;
  color: #ffffff;
}
 