.m-combobox {
  height: 40px;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.m-combobox .m-combobox-input {
  border: none;
  height: 100%;
  padding: 0 53px 0 16px;
  outline: unset;
}

.m-combobox .m-combobox-btn {
  position: absolute;
  right: 0;
  border: none;
  border-left: 1px solid #bbbbbb;
  background-color: #fff;
  height: 40px;
  padding: 0 12px;
  cursor: pointer;
}
.m-combobox-btn.m-combobox-btn-no-border{
  border: none;
}
.m-combobox .m-combobox-input:active ~ .m-combobox {
  border-color: #019160;
}
