.m-dropdown {
  height: 40px;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  overflow: hidden;
}

.m-dropdown .m-dropdown-btn {
  border: none;
  background-color: #fff;
  height: 40px;
  padding: 0 0 0 16px;
  cursor: pointer;
}

.m-dropdown .m-dropdown-btn .m-dropdown-icon{
  margin-right: 8px ;
}

.m-dropdown .m-dropdown-btn .m-dropdown-icon-down{
  margin: 0 12px;
}
