.m-input {
  border: 1px #bbbbbb solid;
  border-radius: 5px;
  height: 36px;
  padding:0 0 0 16px;
  background-color: unset;
  outline: unset;
}

.m-input::placeholder {
  font-size: 11px;
  color: #bbbbbb;
}

.m-input:focus {
  border-color: #019160;
}

.m-input.m-input-search {
  background-image: url("../../content/icon/search.png");
  background-position: 16px center;
  background-repeat: no-repeat;
  padding-left: 40px;
}

.m-input-error {
  position: relative;
}

.m-error-notify {
  border: 1px solid #ff4747;
}

.m-error-notify:focus {
  border-color: #bbbbbb;
}
.m-error-notify:focus + .m-error-info{
    display: none;
}
.m-error-info {
  min-width: 120px;
  position: absolute;
  top: -70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff4747;
  border-radius: 10px;
  color: #ffffff;
  padding: 12px;
  text-align: center;
}

.m-arrow-bottom {
  position: absolute;
  top: calc(100% - 10px);
  left: calc(50% - 10px);
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  background-color: #ff4747;
}

.m-calendar .m-combobox-btn{
  border: none;
}