.m-modal {
    border-radius: 4px;
    border: 1px solid #bbbbbb;
    box-shadow: 0 3px 6px rgba(0 0 0 / 16%);
    min-width: 80vh;
    overflow: hidden;
    position: relative;
}
.m-modal-header {
  padding: 24px;
}

.m-modal-header .m-modal-title {
  font-size: 22px;
  font-weight: 100;
}

.m-modal-header .m-modal-close {
  position: absolute;
  right: 17px;
  top: 10px;
  font-size: 24px;
  opacity: 0.6;
  cursor: pointer;
}
.m-modal-header .m-modal-close:hover {
  opacity: 1;
}

/* Modal content */
.m-modal-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 24px 24px 24px;
}
.m-modal-content .m-popup-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-right: 10px;
  background-color: #e9ebeb;
  border-radius: 50%;
  color: orange;
  font-size: 24px;
}

/* Modal Footer */
.m-modal-footer {
  box-sizing: border-box;
  background-color: #e9ebee;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 60px;
  padding-right: 24px;
}

.m-modal-footer button {
  margin-left: 16px;
}

/* MODAL MEDIUM  */
.m-modal-md {
  width: 60vw;
}

/* Modal header */
.m-modal-md .m-modal-header .m-modal-title {
  font-size: 20px;
  font-weight: 100;
}

/* Modal content */
.m-modal-md .m-modal-content {
  padding: 24px;
}


/* MODAL SMALL */
.m-modal-sm {
  max-width: 600px;
  min-width: 300px; 
}
/* Modal header */
.m-modal-sm .m-modal-header .m-modal-title {
  font-size: 18px;
  font-weight: 100;
}
/* Modal content */
.m-modal-sm .m-modal-content {
  justify-content: center;
  align-items: center;
  padding: 0 24px 24px 24px;
}

/* Modal Backgroud */
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(127, 140, 141, 0.5);
}
