.m-lable {
  display: block;
  font-size: 12px;
  color: #000000;
  padding-bottom: 4px;
}
label span{
  color: red;
}
.m-loading{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color:#00000038;
}

.m-loading .m-loading-icon{
  /* display: none; */
  position: absolute;
  width: 30px;
  height: 30px;
  border: 6px solid #f0e9e9;
  border-top: 6px solid rgb(115, 230, 191);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  animation: spin 1s linear infinite;
  
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.m-text-right {
  text-align: right;
}

.m-border-none {
  border: none;
  outline: unset;
}  
.m-text-right {
  text-align: right;
}

.m-text-left {
  text-align: left;
}

.m-text-center {
  text-align: center;
}

.m-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.m-flex-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.m-flex-item-center {
  display: flex;
  align-items: center;
}

.m-icon {
  height: 20px;
  margin-right: 10px;
}

.m-icon > img {
  height: 20px;
  vertical-align: middle;
}

.m-icon > i {
  padding-right: 8px;
}


